html, * {
  box-sizing: border-box;
}
body{
  margin: 0;
}

main{
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  max-height: 100vh;
  overflow-y: scroll;
}

.navigation{
  background-color: #17252a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.appname{
  color: white;
  font-size: 2rem;
  padding-right: 1rem;
}

.citationlist{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.infobtn{
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.infobtn:hover{
  background-color: lightgray;
}

.buttonbar{
  background-color: #2b7a78;
  min-height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.citation{
  background-color: #def2f1;
  display: grid;
  min-height: 70px;
  grid-template-columns: 50px auto;
  grid-template-rows: auto;
  padding: 0.5rem;
  border-bottom: 2px lightgray solid;
}

.citationlogo{
  display: block;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  background-image: url('./images/quote.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}

.citationtext{
  text-align: start;
  font-style: italic;
  font-size: 1.3rem;
  margin: 0;
  margin-top: 8px;
}

.citationauthor{
  text-align: end;
  color: gray;
  margin: 0;
}

.btnAdd {
  background-color: #2b7a78;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 5px black;
  cursor: pointer;
  transition: all 0.3s;
  position: fixed;
  bottom: 1rem;
  margin-left: 1rem;
}

.btnAdd:hover{
  transform: scale(1.1);
}

.modal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-overlay{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-width: 300px;
  position: relative;
}
.modal label{
  font-weight: bold;
}
.citation-input{
  padding: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}
.modal textarea{
  min-height: 80px;
}
.btnAbsenden{
  padding: 1rem;
  background-color: #2b7a78;
  font-weight: bold;
  color: white;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.btnClose{
  position: absolute;
  background: none;
  border: none;
  top: 5px;
  right: 5px;
  font-size: 1.3rem;
  cursor: pointer;
}

.modal-visible{
  display: flex;
}